<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Visualization Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href = "/Static/style.css">
  
  
</head>

<html>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Web-Design Challenge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="../comparisons.html">Comparisons</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Visuals
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
                    <a class="dropdown-item" href="humidity.html">Humidity</a>
                    <a class="dropdown-item" href="max_temp.html">Maximum Temperature</a>
                    <a class="dropdown-item" href="wind_speed.html">Wind Speeds</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../data.html">Data</a>
                </li>
              </ul>
        </div>
    </nav>
    <br>
    <br>
    
    <h1 class="text-lg-center">Comparison: Latitude Vs. Cloudiness</h1> 

    <div class="container">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-lg-center ">Analysis</h5>
                                <img src="../../Resources/assets/Lat_vs_Cloud.png" alt="" width='65%' height='100%' align='left' style='margin: 0px 20px 20px 0px'>
                                <p>
                                    Here we see that there is no relation between cloudiness and latitude. An area for further analysis would be to group levels of cloudiness
                                    and see if there is any reason for the slight banding we see (around 0, 20, 78, and 90%).
                                </p>
                               
                            </div>
                        </div>
                    </div>
        
                </div>
            
                

                
                <br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-xl-center">Click any plot to get an in depth analysis.</h3>
                        <br>
                        <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="image-box">
                            <h3 class="text-center">Max Temperature</h3>
                            <a href="max_temp.html">
                            <img id ="pic1" src="../../Resources/assets/Lat_vs_Temp.png" alt="latvstemp" height="400" width="500">
                            </a>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 col-sm-12">
                            <div class="image-box">
                            <h3 class="text-center">Humidity</h3>
                            <a href="humidity.html">
                                <img id ="pic2" src="../../Resources/assets/Lat_vs_Humidity.png" alt="humidity" height="400" width="500">
                            </a>
                            </div>
                        </div>
                
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="image-box">
                            <h3 class="text-center">Cloudiness</h3>
                            <a href="cloudiness.html">
                            <img id = "pic3" src="../../Resources/assets/Lat_vs_Cloud.png" alt="cloudiness" height="400" width="500">
                            </a>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 col-sm-12">
                            <div class="image-box">
                            <h3 class="text-center">Wind Speed</h3>
                            <a href="wind_speed.html">
                            <img id = "pic4" src="../../Resources/assets/Lat_vs_Wind.png" alt="windspeed" height="400" width="500">
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
